
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,800;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

.close{
    opacity: 0;
    visibility: hidden;
}

.open{
    opacity: 1 ;
    visibility: visible;
}

body{
    min-height: 100%;
    background-color: hsl(0, 0%, 86%);
    font-family: 'Poppins', sans-serif;
}

.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main{
    width:30rem ;
    height: 40rem;
    background-color:hsl(0, 0%, 100%);
    margin-top: 8rem;
    border-radius: 2rem 2rem 10rem 2rem;
}

.inputDatas{
    display: flex;
    flex-direction: row;
    gap: .2rem;
    width: 100%;
    padding: 3rem 2rem;
 

}
label{
    font-size: 1rem;
    color: hsl(0, 1%, 44%);
}

input{
    width: 90%;
    height: 5rem;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: .5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.8rem;
    
}

input:focus{
    outline: none;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Safari */
    margin: 0; /* Remove espaço extra no Safari */
}

.inputDay, .inputMonth, .inputYear{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
}

.errormenssage{
    font-size: .5rem;
}

.lineImageContainer{
    text-align: center;
    position: relative;
    margin-top: 2rem;
}

.line{
   border: 1px solid  hsl(0, 0%, 86%);
   width: 80% ;
   margin: auto;

}

.lineImageContainer img{
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: white;

    cursor: pointer;



}


.resultContainer{
    padding: 0 2rem;
    margin-top: 3rem;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

p{
    font-weight: 800;
    font-size: 4rem;
    transform: skewX(-10deg);
    height: 4.5rem;
    
   
}
span{
    font-size: 5rem;
    color: hsl(259, 100%, 65%);
    font-weight: 800;
}